* {
    box-sizing: border-box;
    font-family: monospace;
}

body {
    padding: 1%;
    margin: 0 10%;

}

header {
    text-align: center;
}

section {
    border: solid grey 1px;
    padding: 10px;
    margin: 15px auto;
}

.colour {
    display: inline-block;
    width: 33%;
    margin: 20px auto;
    min-height: 100px;
    text-align: center;
}

#coolblue {
    background-color: #2d5dcc;
    color: white;
}

#pink {
    background-color: #d957d9;

}

#mintgreen {
    background-color: #4fe0b0;

}

#beige {
    background-color: #efd9ca;

}

h2 {
    text-align: left;
}

.Source-Code-Pro {
    font-family: 'Source Code Pro';
}

.nunitosans {
    font-family: 'nunitosans';
}

.poppins {
    font-family: 'poppins';
}

.bold {
    font-weight: bold;
}

.italics {
    font-style: italic;
}

.fonts div {
    display: inline-block;
    width: 45%;
    text-align: justify;

}

.fonts h3 {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.text-panel h1 {
    font-weight: 700;
    font-size: 32px;
    font-family: 'Nunito Sans', sans-serif;
}

.text-panel h2 {
    font-weight: 500;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.text-panel p {
    font-weight: 400;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}